.reveal .bk-root {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 50%;
 }

.reveal .display-on-visible.current-fragment{
    display: block;
}

.reveal .display-on-visible{
    display: none;
}
